/* this file is loaded by index.html and styles the page */

* {
  box-sizing: border-box;
  font-family: Georgia;
}

textarea {
  width: 250px;
  height: 200px;
}

label.enter, button, input.block {
  display: block;
  margin: 10px 0;
}

div#enter {
  width: 275px;
  margin: 10px auto;
}


ul {
  list-style-type: none;
}

select {
  margin-left: 10px;
}

a {
  text-decoration: none;
  color: gray;
}

button {
  padding: 20px;
  font-family: Georgia;
  font-size: 20px;
}
button:hover {
  cursor: pointer;
}

button#stand {
  font-size: 14px;
  padding: 12px;
}

.hidden {
  display: none;
}

.conduct {
  display: none;
}

.disabled {
  border: 1px solid gray;
  color: lightgray;
}

input[type="number"] {
  width: 40px;
}

div#closed {
  display: none;
}

div#container {
  display: flex;
  flex-flow: row;
}
div.column {
  margin: 5px;
}

div.column:first-child {
  max-width: 300px;
}

label.enter, input#name {
  width: 200px;
}

ul#entrants li {
  margin-bottom: 2px;
}

div.assign {
  display: inline-block;
  position: relative;
  margin-left: 5px;
  min-width: 50px;
  color: grey;
}

div.assign.active {
  color: black;
}

ul.dropdown {
  display: none;
  position: absolute;
  background-color: aliceblue;
  padding-left: 10px;
  width: 100%;
}

div.assign.active:hover > ul.dropdown, ul.dropdown.block {
  display: block;
}
ul#entrants li:hover ~ li > div.assign, div.assign.hide {
  position: static;
}

span.summary {
  display: inline-block;
  width: 100%;
  height: 21px;
  border: 1px solid gray;
  border-radius: 3px;
  padding-left: 2px;
}
div.assign.active > span.summary {
  border-color: black;
}



ul#numbells li {
  display: inline-block;
  width: 20px;
  border: 1px solid black;
  text-align: center;
}
ul#numbells li:nth-child(2) {
  color: white;
  background-color: black;
}

ul#conduct li {
  display: inline-block;
  padding: 4px;
  margin: 7px;
  border: 1px solid black;
}
ul#conduct li:hover {
  cursor: pointer;
}

#methodname {
  width: -webkit-fill-available;
}

#keyboard li {
  max-width: 212px;
}

#keyboard input {
  display: inline-block;
  width: 40px;
  margin: 0;
  font-size: inherit;
}
#keyboard label {
  display: inline-block;
  max-width: 85px;
  margin: 5px;
}

input#speed {
  width: 40px;
}

input#chat {
  width: 250px;
}

div#room {
  position: relative;
}

div#display {
  display: flex;
  flex-flow: row;
  margin: 20px 0;
  height: 40px;
  font-size: 20pt;
}
div#display3 {
  display: flex;
  flex-flow: row;
  margin-bottom: 20px;
}
div.bellnum {
  width: 100px;
  padding-left: 27px;
}

div#bells {
  overflow: hidden;
  width: 600px;
  height: 500px;
  -webkit-perspective: 400px;
	-webkit-perspective-origin: 70% 50%;
  position: relative;
}

div#callcontainer {
  
  position: absolute;
  font-size: 20pt;
  top: 230px;
  width: 600px;
  text-align: center;
  z-index: 2;
  transform: translateZ(-10px);
  transition: 1s linear;
}

div.chute {
  -webkit-transform-style: preserve-3d;
  position: absolute;
	margin: 10px;
	width: 60px;
	height: 300px;
	-webkit-transition: 0.6s linear;
}

div.instruct {
  position: absolute;
  left: 0;
  top: 200px;
  font-size: 16pt;
  background-color: rgba(255,255,255,0.7);
}

div.linechute {
  display: inline-block;
  position: relative;
}

div#display2 {
  display: flex;
  flex-flow: row;
}

